In [ ]:

 !cd/content

/bin/bash: cd/content: No such file or directory

In [ ]:
#from google.colab import files

In [ ]:
#files.upload()

In [ ]:
#!mkdir ~/.kaggle

In [ ]:
#!mv /content/kaggle.json ~/.kaggle

In [ ]:
#!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
#!pip install kaggle

In [ ]:
#!kaggle datasets download -d rishianand/devanagari-character-set

In [ ]:
!cp /content/drive/MyDrive/Classroom/Devnagari_Handwritten_Test.csv /content

In [ ]:
!cp /content/drive/MyDrive/Classroom/Devnagari_Handwritten_Train.csv /content

In [ ]:
import pandas as pd

In [ ]:
training_data = pd.read_csv("/content/Devnagari_Handwritten_Train.csv")

In [ ]:
training_data.drop(labels=training_data.columns[0],axis=1,inplace=True)

In [ ]:
training_data.head()

,Pixel_1,Pixel_2,Pixel_3,Pixel_4,Pixel_5,Pixel_6,Pixel_7,Pixel_8,Pixel_9,Pixel_10,...,Pixel_1016,Pixel_1017,Pixel_1018,Pixel_1019,Pixel_1020,Pixel_1021,Pixel_1022,Pixel_1023,Pixel_1024,Image_Label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna

In [ ]:
Xtrain=training_data.iloc[:,0:1024]
Ytrain=training_data.iloc[:,-1]

In [ ]:
Ytrain

0        character_10_yna
1        character_10_yna
2        character_10_yna
3        character_10_yna
4        character_10_yna
               ...
78195             digit_9
78196             digit_9
78197             digit_9
78198             digit_9
78199             digit_9
Name: Image_Label, Length: 78200, dtype: object

In [ ]:
#label encoding: every character name will be replaced by a number

In [ ]:
unique_categories = Ytrain.unique()

In [ ]:
Ytrain.replace(to_replace=unique_categories,value=list(range(len(unique_categories))),inplace=True)

In [ ]:
Ytrain

0         0
1         0
2         0
3         0
4         0
         ..
78195    45
78196    45
78197    45
78198    45
78199    45
Name: Image_Label, Length: 78200, dtype: int64

In [ ]:
import tensorflow as tf

In [ ]:
Ytrain_ohe = tf.keras.utils.to_categorical(y=Ytrain,num_classes=46)

#one hot encoded : in a vector, only one place is 1 ansd rest is 0

In [ ]:
Ytrain_ohe

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]], dtype=float32)

In [ ]:
!cp /content/drive/MyDrive/Classroom/Devnagari_Handwritten_Test.csv /content

In [ ]:
testing_data=pd.read_csv("/content/Devnagari_Handwritten_Test.csv")

In [ ]:
testing_data.drop(labels=testing_data.columns[0],axis=1,inplace=True)

In [ ]:
testing_data.head()

,Pixel_1,Pixel_2,Pixel_3,Pixel_4,Pixel_5,Pixel_6,Pixel_7,Pixel_8,Pixel_9,Pixel_10,...,Pixel_1016,Pixel_1017,Pixel_1018,Pixel_1019,Pixel_1020,Pixel_1021,Pixel_1022,Pixel_1023,Pixel_1024,Image_Label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_4
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_4
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_4
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_4

In [ ]:
Xtest = testing_data.iloc[:,0:1024]
Ytest = testing_data.iloc[:,-1]
Ytest.replace(to_replace=unique_categories,value=list(range(len(unique_categories))),inplace=True)

In [ ]:
Ytest

0        40
1        40
2        40
3        40
4        40
         ..
13795    39
13796    39
13797    39
13798    39
13799    39
Name: Image_Label, Length: 13800, dtype: int64

In [ ]:
Ytest_ohe = tf.keras.utils.to_categorical(y=Ytest,num_classes=46)

In [ ]:
Ytest_ohe

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [ ]:
from keras.layers import Input, Dense

In [ ]:
from keras.models import Sequential
#data is flowing in a proper sequence hence, sequential networks

In [ ]:
#CREATING THE NEURAL NETWORK
def create_nw():
#densely connected neural network, DNN
  dnn = Sequential()
  dnn.add(Input(shape=(1024,)))
  dnn.add(Dense(1024,activation="relu",use_bias=True))
  dnn.add(Dense(units=46,activation="softmax"))

  return dnn
  #we formed layers we didnt join them

In [ ]:
dnn=create_nw()
#we just created the link

In [ ]:
dnn.summary()
### (1024*1024)+1024 = 10,49,600

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1024)              1049600

 dense_1 (Dense)             (None, 46)                47150

=================================================================
Total params: 1,096,750
Trainable params: 1,096,750
Non-trainable params: 0
_________________________________________________________________

In [ ]:
dnn.compile(loss="categorical_crossentropy",metrics=["accuracy",tf.keras.metrics.Precision(),tf.keras.metrics.Recall()])

In [ ]:
dnn.fit(x=Xtrain,y=Ytrain_ohe, batch_size=1700,epochs=5,validation_data=(Xtest,Ytest_ohe))
#epochs : iteration
#batch sizE : size of the clusters of data which was extracted from the actual size of the data to train the model.

Epoch 1/5
46/46 [==============================] - 12s 242ms/step - loss: 1.8245 - accuracy: 0.5367 - precision: 0.8798 - recall: 0.3021 - val_loss: 1.1856 - val_accuracy: 0.6896 - val_precision: 0.8983 - val_recall: 0.5009
Epoch 2/5
46/46 [==============================] - 11s 244ms/step - loss: 1.0768 - accuracy: 0.7141 - precision: 0.8949 - recall: 0.5541 - val_loss: 0.9494 - val_accuracy: 0.7436 - val_precision: 0.9002 - val_recall: 0.6062
Epoch 3/5
46/46 [==============================] - 10s 221ms/step - loss: 0.8195 - accuracy: 0.7804 - precision: 0.9125 - recall: 0.6558 - val_loss: 0.7124 - val_accuracy: 0.8085 - val_precision: 0.9241 - val_recall: 0.7014
Epoch 4/5
46/46 [==============================] - 9s 196ms/step - loss: 0.6448 - accuracy: 0.8293 - precision: 0.9290 - recall: 0.7281 - val_loss: 0.5933 - val_accuracy: 0.8382 - val_precision: 0.9302 - val_recall: 0.7536
Epoch 5/5
46/46 [==============================] - 11s 251ms/step - loss: 0.5169 - accuracy: 0.8636 - precision: 0.9415 - recall: 0.7849 - val_loss: 0.4639 - val_accuracy: 0.8780 - val_precision: 0.9487 - val_recall: 0.8085